<div>
    <p>Hello <span th:text="${name}">User</span>,</p>

    <p>We received a request to reset your password. Please click the button below to reset it:</p>

    <p style="text-align: center;">
        <a class="button" th:href="${resetLink}">Reset Password</a>
    </p>

    <p>This link will expire in <span th:text="${expiryHours}">24</span> hours.</p>

    <p>If you did not request a password reset, please ignore this email.</p>

    <p>Best regards,<br />
        The MDental Team</p>
</div>